*.java encoding=GBK
*.xml encoding=GBK
src/main/resources/application.properties encoding=GB18030
gbx.txt encoding=GBK
commit_msg.txt encoding=GBK
commit-msg-encoding encoding=GBk
*.go encoding=GBK
*.txt encoding=ASCII
b.txt encoding=GBK
文件对比乱码.txt encoding=GBK